@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #293F50;
}

body,
h1,
h2,
h3,
h4 p,
span,
button,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
}
ol,
ul,
li,
link {
  text-decoration: none;
  list-style: none;
}
